.bgpage {
    background-color: #f5f5f5;
    display: inline-block;
}

.mainhomepage {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 100%;
}

.newproducts {
    background-color: #fff;
    background: #fff none repeat scroll 0 0;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    height: auto;
    display: TABLE;
    padding-bottom: 15px;
}

.newproductsheader {
    height: 50px;
    line-height: 50px;
    text-indent: 5px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.newproductsheader span {
    float: right;
    font-size: 0;
}

.newproductsheader span .fa {
    height: 30px;
    line-height: 30px;
    margin-top: 11px;
    font-size: 30px;
    margin-right: 20px;
    color: #35b111;
}

.producthere {
    width: 15.5%;
    float: left;
    margin: 5px;
    text-align: center;
    height: 250px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
}

.categoryimg {
    width: 33.33%;
    float: left;
    display: block;
    justify-content: center;
}

.categoryimg img {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    padding: 0px;
}

.faturedcategories {
    width: 100%;
    display: table;
    margin: 20px 0;
}

.faturedcategoriesbottom img {
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    margin: 15px 0;
}

.brandsbottom {
    background-color: #35b111;
    margin: 15px 0;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brandsbottomwide {
    background-color: #35b111;
}

.brandimg {
    width: 14%;
    float: left;
    padding: 5px;
}

.brandimg img {
    width: 100%;
    margin: 10px;
}

.tableproducts .col-lg-3 {
    width: 23%;
    float: left;
    margin: 11px;
    text-align: center;
    height: 365px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    padding-left: 10px;
    padding-right: 10px;
}

.tableproducts .thumbnail {
    background-color: rgba(255, 255, 255, 0);
}

.tablesleproducts .col-lg-3 {
    width: 23%;
    float: left;
    margin: 11px;
    text-align: center;
    height: 365px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    padding-left: 10px;
    padding-right: 10px;
}

.tablesleproducts .thumbnail {
    background-color: rgba(255, 255, 255, 0);
}

.featuredproducthere .col-lg-3 {
    width: 23%;
    float: left;
    margin: 11px;
    text-align: center;
    height: 170px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
}

.featuredproducthere .thumbnail {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.featuredproducthere .thumbnail .product-image {
    width: 100%;
    float: left;
    margin: 0;
}

.featuredproducthere .pimage {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    float: left;
    width: 50%;
}

.featuredproducthere .thumbnail .caption {
    padding: 9px 0;
    color: #3c3c3c;
    text-align: right;
    margin-top: 10px;
    width: 49%;
    float: right;
    display: block;
}

.featuredproducthere .savings-container {
    position: relative;
    top: 15px;
    right: 0;
}

.featuredproducthere .thumbnail .caption .price {
    margin: 0 0 0px;
    font-size: 16px;
    height: auto;
    font-weight: 500;
    text-align: left;
}

.featuredproducthere .savings-container .productsavex {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #f00;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    width: 31%;
    margin: 2px;
    margin-top: -15px;
}

.featuredproducheader {
    height: 50px;
    text-indent: 5px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: 5px;
    text-transform: uppercase;
}

.featuredproducheader span {
    float: right;
    font-size: 0;
}

.featuredproducheader span .fa {
    height: 30px;
    line-height: 30px;
    margin-top: 11px;
    font-size: 30px;
    margin-right: 20px;
    color: #35b111;
}

.main-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 100%;
    margin-bottom: 25px;
}

.main-footer .nav-stacked > li {
    float: none;
    height: 20px;
    line-height: 20px;
}

.aboutusfooterlogo {
    width: 25%;
    float: left;
}

.aboutusfooter {
    color: #fff;
}

.aboutusfooter h2 {
    text-transform: uppercase;
    font-size: 18px;
}

.aboutusfooter a {
    color: #35b111;
}

.main-footer .col-sm-4 {
    float: left;
}

.main-footer .col-sm-8 {
    width: 100%;
}

.main-footer .arrow-icon:before {
    display: none;
    content: "\f0a9";
    font-size: 14px;
    position: relative;
    left: -5px;
    font: normal 14px FontAwesome;
    color: #35b111;
}

.main-footer p {
    color: #fff;
}

.main-footer .input-group {
    position: relative;
    display: block;
    border-collapse: separate;
    width: 100%;
}

.main-footer .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.main-footer .input-group-addon, .input-group-btn, .input-group .form-control {
    display: table;
}

.main-footer .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 70%;
    margin-bottom: 0;
}

.main-footer .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    text-align: CENTER;
    margin-top: 10px;
    width: 20%;
}

.main-footer .btn-default, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #616161;
    border-color: #616161;
    width: 100%;
    margin-top: 0;
}

.main-footer .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #35b111;
    border-color: #35b111;
    width: 100%;
    margin-top: 0;
}

.main-footer .list-inline > li {
    display: inline-block;
    padding-left: 0;
    padding-right: 7px;
}

.footernavbottom {
    height: 70px;
    line-height: 70px;
    background-color: #35b111;
    width: 100%;
}

.tableproducts {
    margin: 0 auto;
    text-align: right;
    margin-right: 10px;
    margin-top: -35px;
}

.tableproducts section {
    display: none;
    padding: 20px 0 0;
    border-top: 2px solid #35b111;
}

.tableproducts input {
    display: none;
}

.tableproducts label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 0 1px;
    font-weight: 600;
    text-align: center;
    font-weight: normal;
    padding: 0 5;
    margin: 0 10px;
}

.tableproducts label:hover {
    cursor: pointer;
}

.tableproducts input:checked + label {
    color: #35b111 !important;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 15px;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
    display: block;
}

.viewmore {
    display: table;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    color: #39bc12;
}

.viewmore a {
    color: #39bc12;
    font-size: 15px;
    border: solid 0px #39bc12;
    padding: 2px 10px;
    border-radius: 10px;
}

.viewmore a:hover {
    color: #656565;
}

.buying-options {
    float: right;
    margin-top: -45px;
}

.qtyclass {
    width: 22%;
    margin-left: 40%;
}

.addtocartclass {
    width: 35%;
    float: right;
    margin-right: 10px;
}

.wishlistclass {
    width: 50%;
    float: right;
}

.wishlistclass .btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 6px;
}

.wishlistclass .btn-primary:hover {
    background-color: transparent;
    border-color: transparent;
}

.wishlistclass .btn-primary {
    color: #00000078;
    background-color: transparent;
    border-color: transparent;
    width: 94%;
    float: right;
}

.shipboxcustom .btn-primary {
    color: #fff;
    background-color: #656565;
    border-color: #656565;
    border-radius: 3px;
}

.shipboxcustom .form-control {
    border-radius: 3px !important;
}

@media screen and (max-width: 767px) {
    .tableproducts {
        min-width: auto;
        width: 100%;
        max-width: auto;
        padding: 0;
        margin: 0 auto;
        background: #fff;
        text-align: center;
    }

    .tableproducts section {
        display: none;
        padding: 20px 0 0;
        border-top: 2px solid #35b111;
    }

    .tableproducts input {
        display: none;
        width: 100%;
    }

    .tableproducts label {
        border: 1px solid transparent;
        width: 150px;
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        font-size: 13px;
        color: #fff;
        border-bottom: 0 solid #fff;
        background: #183449;
    }

    .tableproducts label:hover {
        cursor: pointer;
        font-size: 13px;
        color: #000 !important;
        border-left: solid 1px #d0d0d0;
        border-right: solid 1px #d0d0d0;
        border-top: solid 1px #d0d0d0;
        background-color: #ffc317;
        width: 100%;
    }

    .tableproducts input:checked + label {
        border: 1px solid #ddd;
        color: #000 !important;
        border-bottom: 1px solid #d0d0d0;
        background-color: #ffc317;
        text-transform: capitalize;
        font-size: 13px;
        border-left: solid 1px #d0d0d0;
        border-right: solid 1px #d0d0d0;
        border-top: solid 1px #d0d0d0;
        width: 100%;
    }

    #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
        display: block;
    }

;
}

.featuredproducthere .savings-container .percentbutton {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: right;
    margin-right: 15px;
    width: 13%;
    margin: 2px;
    background-color: #fff;
    margin-left: -7px;
    margin-top: -13px
}

.categorypage {
    margin-top: -35px;
    margin-right: 15px;
    margin-left: -30px;
}


@media screen and (max-width: 650px) {
    .tableproducts label {
        font-size: 0;
    }

    .tableproducts label:before {
        margin: 0;
        font-size: 18px;
    }

;
}

@media screen and (max-width: 400px) {
    .tableproducts label {
        padding: 15px;
        width: 100%;
        border: 1px solid #ddd;
        color: #fff !important;
        border-bottom: 1px solid #d0d0d0;
        text-transform: capitalize;
        font-size: 13px;
        border-left: solid 1px #d0d0d0;
        border-right: solid 1px #d0d0d0;
        border-top: solid 1px #d0d0d0;
        width: 100%;
    }

;
}

.tablesleproducts {
    margin: 0 auto;
    text-align: right;
    margin-right: 10px;
    margin-top: -35px;
}

.tablesleproducts section {
    display: none;
    padding: 20px 0 0;
    border-top: 2px solid #35b111;
}

.tablesleproducts input {
    display: none;
}

.tablesleproducts label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 0 1px;
    font-weight: 600;
    text-align: center;
    font-weight: normal;
    padding: 0 5;
    text-transform: capitalize;
    margin: 0 10px;
}

.tablesleproducts label:hover {
    cursor: pointer;
}

.tablesleproducts input:checked + label {
    color: #35b111 !important;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 15px;
}

#tables1:checked ~ #content1, #tables2:checked ~ #content2, #tables3:checked ~ #content3, #tables4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 767px) {
    .tablesleproducts {
        min-width: auto;
        width: 100%;
        max-width: auto;
        padding: 0;
        margin: 0 auto;
        background: #fff;
        text-align: center;
    }

    .tablesleproducts section {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid #ddd;
    }

    .tablesleproducts input {
        display: none;
        width: 100%;
    }

    .tablesleproducts label {
        border: 1px solid transparent;
        width: 150px;
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        font-size: 13px;
        color: #fff;
        border-bottom: 0 solid #fff;
        background: #183449;
    }

    .tablesleproducts label:hover {
        cursor: pointer;
        font-size: 13px;
        color: #000 !important;
        border-left: solid 1px #d0d0d0;
        border-right: solid 1px #d0d0d0;
        border-top: solid 1px #d0d0d0;
        background-color: #ffc317;
        width: 100%;
    }

    .tablesleproducts input:checked + label {
        border: 1px solid #ddd;
        color: #000 !important;
        border-bottom: 1px solid #d0d0d0;
        background-color: #ffc317;
        text-transform: capitalize;
        font-size: 13px;
        border-left: solid 1px #d0d0d0;
        border-right: solid 1px #d0d0d0;
        border-top: solid 1px #d0d0d0;
        width: 100%;
    }

    #tables1:checked ~ #content1, #tables2:checked ~ #content2, #tables3:checked ~ #content3, #tables4:checked ~ #content4 {
        display: block;
    }

;
}

@media screen and (max-width: 650px) {
    .tablesleproducts label {
        font-size: 0;
    }

    .tablesleproducts label:before {
        margin: 0;
        font-size: 18px;
    }

;
}

@media screen and (max-width: 400px) {
    .tablesleproducts label {
        padding: 15px;
        width: 100%;
        border: 1px solid #ddd;
        color: #fff !important;
        border-bottom: 1px solid #d0d0d0;
        text-transform: capitalize;
        font-size: 13px;
        border-left: solid 1px #d0d0d0;
        border-right: solid 1px #d0d0d0;
        border-top: solid 1px #d0d0d0;
        width: 100%;
    }

;
}

.slideshowhomepage {
    width: 100%;
    float: left;
}

.hotdealsright {
    width: 24%;
    float: right;
    background-color: #fff;
    min-height: 340px;
    margin-top: 15px;
    display: none;
}

.hotdealsright h2 {
    text-align: center;
    font-size: 22px;
    padding: 10px;
    border-bottom: solid 1px #bdbdbd;
}

.hotdealsright .col-lg-3 {
    width: 100%;
}

.hotdealsright .thumbnail .product-image {
    width: 100%;
    max-width: 160px;
    background-color: #e2e2e2;
    padding: 15px;
    border-radius: 5px;
}

/*
::-webkit-scrollbar {
width:8px
;}

::-webkit-scrollbar-track {
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius:4px;
border-radius:10px
;}

::-webkit-scrollbar-thumb {
-webkit-border-radius:10px;
border-radius:10px;
background:rgba(64,64,64,0.8);
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5)
;}

::-webkit-scrollbar-thumb:window-inactive {
background:rgba(58,58,58,0.4)
;}
*/
.pimage {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 100%;
}

.pimage img {
    border-radius: 5px;
}

.savings-container {
    position: relative;
    top: 0;
    right: 0;
}

.savings-container .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    width: 45%;
    margin: 2px;
}

.savings-container .productsavex {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.categorypage .savings-container .productsavex {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.categorypage .col-lg-3 {
    width: 30.9%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    padding-left: 10px;
    padding-right: 10px;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.categorypage .savings-container .rrpstyle {
    color: #636363;
    background-color: #fff;
    font-size: 13px;
    width: 37%;
    text-decoration: line-through;
    text-align: left;
    padding: 0;
}

.categorypage .savings-container .percentbutton {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    width: 10%;
    margin: 2px;
    background-color: #fff;
    margin-left: -7px;
}

.savings-container .rrpstyle {
    color: #636363;
    background-color: #fff;
    font-size: 13px;
    width: 37%;
    text-decoration: line-through;
    text-align: left;
    padding: 0;
}

.savings-container .rrpstyle span {
    color: #5a5a5a;
}

.rightproductsinpage .savings-container .rrpstyle {
    color: #636363;
    background-color: #fff;
    font-size: 11px;
    width: 100%;
    text-decoration: line-through;
    text-align: left;
    padding: 0;
}

.rightproductsinpage .savings-container .rrpstyle span {
    color: #5a5a5a;
    font-size: 11px
}

.rightproductsinpage .savings-container .productsavex {
    display: inline;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    width: 50%;
    float: left;
    margin: 0px;
    text-indent: 0px;
}

.rightproductsinpage .savings-container .percentbutton {
    display: inline;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    margin-right: 15px;
    width: 19%;
    margin: 0px;
    background-color: #fff;
    margin-left: 0px;
}

.savings-container .percentbutton {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: right;
    margin-right: 15px;
    width: 15%;
    margin: 2px;
    background-color: #fff;
    margin-left: -7px;
}

.breadpage {
    width: 94%;
}

.custompagerow {
    float: left;
    display: block;
    width: 100%;
}

.custompageright {
    width: 18%;
    float: right;
    display: table; /* border:solid 1px #e0e0e0; */
    margin-left: 20px;
    margin-top: 25px;
}

.custompageright {
    width: 18%;
    float: right;
    display: table; /* border:solid 1px #e0e0e0; */
    margin-left: 20px;
    margin-top: 25px;
}

.custompagerow2 {
    width: 100%;
    float: left;
    display: table;
    margin-right: 15px;
    border: solid 0px #e0e0e0;
    background-color: #fff;
}

.customshoppingcart22 {
    width: 80%;
    float: left;
    display: table;
    margin-right: 10px;
    border: solid 0px #e0e0e0;
    background-color: #fff;
    margin-top: 10px;
    padding-top: 15px;
}

.custompagerightshcart {
    width: 19%;
    float: right;
    display: table;
    /* border: solid 1px #e0e0e0; */
    margin-left: 0px;
    margin-top: 0px;
    margin-top: 10px;
}

.customshoppingcart22 .page-header h3 {
    line-height: 50px;
    height: 50px;
}

.custompagerightshcart .wrapper-assurance {
    padding: 15px 5px;
    background-color: #fff;
    margin-bottom: 15px;
}

.shoppingitem {
    width: 40%;
}

.itempriceshop {
    /* width: 150px !important; */
}

.itempqty {
    width: 15%;
}

.itempsubtotal {
}

.itemimagetd {
    width: 13%;
}

.itempriceshop {
    width: auto;
    text-align: center;
}

.custompagerightshcart .wrapper-assurance .thumbnail-assurance .headline > a {
    margin: 0 3px;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    /* text-align: left; */
    display: block;
}

.custompagerightshcart .wrapper-assurance .thumbnail-assurance .caption-assurance > p {
    margin: 0px;
    font-size: 12px;
    color: #000000;
}

.iconscustom {
    display: none;
}

.custompageright .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.custompageright .wrapper-assurance .thumbnail-assurance .headline > a {
    color: #000;
}

.custompageright .wrapper-assurance .thumbnail-assurance .caption-assurance > p {
    margin: 0;
    font-size: 12px;
    color: #000;
}

.custompageright .wrapper-assurance {
    padding: 15px 5px;
    background-color: #fff;
    margin-bottom: 15px;
}

.rightproductsinpage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 15px;
}

.rightproductsinpage .col-lg-3 {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* border-bottom:solid 1px #cecece
    ; */
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    margin-bottom: 15px;
}

.socialmedia {
    float: left;
    width: 59%;
}

.socialmedia ul li {
    display: inline-block;
    padding: 1px;
    border-radius: 50%;
}

.socialmedia ul {
    margin-left: -40px;
}

.socialmedia .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 30px !important;
}

.socialmedia .text-facebook {
    color: #fff;
    text-align: center;
    background-color: #3b5998;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.socialmedia .text-twitter {
    color: #fff;
    text-align: center;
    background-color: #00acee;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.socialmedia .text-google-plus {
    color: #fff;
    text-align: center;
    background-color: #dd4b39;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.socialmedia .text-pinterest {
    color: #fff;
    text-align: center;
    background-color: #c8232c;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.socialmedia .text-envelope {
    color: #fff;
    text-align: center;
    background-color: #35b111;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.socialmedia .text-facebook:hover {
    color: #3b5998;
    background-color: #fff;
}

.socialmedia .text-twitter:hover {
    color: #00acee;
    background-color: #fff;
}

.socialmedia .text-google-plus:hover {
    color: #dd4b39;
    background-color: #fff;
}

.socialmedia .text-pinterest:hover {
    color: #c8232c;
    background-color: #fff;
}

.socialmedia .text-envelope:hover {
    color: #35b111;
    background-color: #fff;
}

.scrooltabs {
    max-width: 900px;
}

.tabcustom {
    float: left;
    color: #000;
    width: 80%;
    border: solid 1px #f0efef;
    z-index: 999;
    background-color: #fff;
    display: table;
    position: relative;
    margin-top: 25px;
}

.tabcustom h3 {
    display: block;
    font-size: 1.17em;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: solid 1px #f0efef;
}

.tabcustom h3 .fa {
    float: right;
    margin-right: 25px;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
}

.tabcustom .section {
    display: none;
    padding: 15px;
    background: #fff;
    margin-bottom: 5px;
    border: solid 1px #f0efef;
}

.tabcustom .section img {
    height: auto !important;
}

.tabcustom input {
    display: none;
}

.tabcustom h3 label img {
    float: left;
}

.tabcustom h3 label {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 2px;
    padding: 0;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    text-align: left;
    color: #000;
    font-family: "Roboto";
    width: 100%;
    background-color: #fff;
    text-indent: 10px;
    text-transform: uppercase;
    font-style: normal
}

.tabcustom h3.b1 label {
    background-image: none;
}

.tabcustom h3.b1 label img {
    float: left;
}

#tab2:checked ~ h3 #lt2, #tab3:checked ~ h3 #lt3, #tab4:checked ~ h3 #lt4, #tab5:checked ~ h3 #lt5, #tab6:checked ~ h3 #lt6, #tab7:checked ~ h3 #lt7, #tab8:checked ~ h3 #lt8 {
    background-position: right -360px;
}

.tabcustom label:hover {
    cursor: pointer;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab8:checked ~ #content8 {
    display: block;
    text-align: left;
}

.youmaylike .buying-options {
    display: inherit;
    z-index: 9999999999;
    position: relative;
    float: left;
    width: 100%;
    top: 0;
    margin-top: -108px;
    margin-left: -8px;
}

.youmaylike input, button, select, textarea {
    display: none;
}

.youmaylike .savings-container .rrpstyle {
    color: #636363;
    background-color: #fff;
    font-size: 11px;
    width: 37%;
    text-decoration: line-through;
    text-align: left;
    padding: 0;
    float: left;
    display: table;
    margin-left: -15px;
}

.youmaylike .savings-container .productsavex {
    display: inline;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    /* margin-left: 30%; */
    /* width: 48%; */
    float: left;
}

.youmaylike .savings-container .percentbutton {
    display: inline;
    padding: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    margin-right: 15px;
    width: 10%;
    margin: 2px;
    background-color: #fff;
    margin-left: 7px;
}

.mainhomepage .buying-options {
    display: none;
}

.categorypage .buying-options {
    display: none;
}

.custompageright .buying-options {
    display: none;
}

.removeaddtocart .buying-options {
    display: none;
}

.youmaylikehead h3 {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    text-indent: 15px;
    border-bottom: solid 1px #b1b1b1;
    height: 20px;
    line-height: 10px;
}

.youmaylike .wrapper-thumbnail {
    float: left !important;
    height: auto !important;
    border: solid 0px #b1b1b1;
    margin: 0px;
    width: 190px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 15px;
}

.youmaylike .pimage {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    display: table;
    width: 50%;
    float: left;
}

.youmaylike .thumbnail .product-image {
    width: 100%;
    max-width: 60px;
    float: left;
}

.youmaylike .thumbnail .caption {
    padding: 9px 0;
    color: #3c3c3c;
    text-align: left;
}

.youmaylike .thumbnail .caption h3 {
    margin-bottom: 5px;
    font-size: inherit;
    line-height: normal;
    height: 53px;
    overflow: hidden;
    font-weight: 400;
}

.youmaylike .thumbnail .caption .price {
    margin: 1px 0 0;
    font-size: 11px;
    height: auto;
    font-weight: 500;
    text-align: left;
    text-indent: 0;
    /* display:none
    ; */
    width: 10%;
    float: left;
    display: table;
    font-weight: bold;
}

.youmaylike .savings-container {
    position: relative;
    top: 0;
    right: 12px;
    width: 100%;
    display: TABLE;
}

.youmaylike .jcarousel .savings-container .rrpstyle {
    color: #636363;
    background-color: #fff;
    font-size: 13px;
    width: 100%;
    text-decoration: line-through;
    text-align: left;
    padding: 0;
}

.youmaylike .jcarousel .productsavex {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.youmaylike .jcarousel .percentbutton {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    width: 10%;
    margin: 2px;
    background-color: #fff;
    margin-left: 30px;
}

.youmaylike .btn-primary {
    color: #fff;
    background-color: #00000000;
    border-color: #000;
}

.youmaylike .btn-primary:hover {
    color: #fff;
    background-color: #00000000;
    border-color: #000;
}

.youmaylike .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.youmaylike .btn:hover {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.youmaylike .thumbnail .buying-options .btn {
    padding: 0;
    font-size: 16px;
}

.youmaylike .thumbnail .buying-options .btn:hover {
    padding: 0;
    font-size: 16px;
}

.youmaylike .fa {
    display: table;
    font-size: 8px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 15px;
    color: #35b111;
    border: solid 1px #35b111;
    border-radius: 50%;
    padding: 3px;
    margin-top: 9px;
}

.youmaylike .fa:hover {
    display: inline-block;
    font-size: 8px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size: 25px;
    color: #313131;
    padding: 0;
}

.youmaylike .thumbnail .buying-options .btn-primary:hover {
    background: #35b11100;
    border-color: #35b11100;
}

.youmaylike .jcarousel > ul > li, .jcarousel > ul .wrapper-thumbnail {
    float: left !important;
    height: 340px;
    border: solid 1px #b1b1b100 !important;
    margin: 5px;
    width: 160px !important;
    border-radius: 5px;
}

.youmaylike {
    width: 100%;
    float: right;
    display: table;
    border: solid 1px #b9b9b9;
    margin-top: 15px;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: -15px;
    justify-content: center;
}

.thumbnail .caption h3 a {
    color: #3c3c3c;
    text-align: left;
    display: block;
    font-size: 12px;
}

.removeaddtocart {
    display: table;
    width: 80%;
}

.removeaddtocart .jcarousel > ul > li, .jcarousel > ul .wrapper-thumbnail {
    float: left !important;
    height: 340px;
    border: solid 1px #b1b1b1;
    margin: 5px;
    width: 205px !important;
    border-radius: 5px;
}

.customshoppingcart th {
    background: #fff;
    color: #636363;
    font-weight: 700;
}

.customshoppingcart .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ffffff;
}

.customshoppingcart tr:nth-of-type(odd) {
    background: #ffffff;
}

.customshoppingcart .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0 solid #ddd;
}

.customshoppingcart .table-bordered {
    border: 0 solid #ddd;
    /* border-bottom:1px solid #cecece
    ; */
    margin-top: 15px;
}

.customshoppingcart td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: 700;
}

.customshoppingcart .table-cart .img-column img {
    min-width: 65px;
}

.customshoppingcart .table-cart .img-column {
    max-width: 80px;
    min-width: 25px;
}

.customshoppingcart .cart-btn-remove {
    float: right;
    width: 10%;
    margin-right: 21px;
}

.customshoppingcart .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #d9534f;
    background-color: #fff;
    border-color: #fff;
}

.customshoppingcart .btn-danger {
    color: #0061ad;
    background-color: #fff;
    border-color: #fff;
}

.shopblank {
    height: 15px;
    display: table;
    width: 100%;
}

.discountcode {
    width: 50%;
}

.shippingcalculator {
    width: 50%;
}

.customshoppingcart .cart-btn-update {
    float: right;
    width: 10%;
}

.customshoppingcart .updateandremove {
    float: right;
    display: table;
    width: 100%;
    text-align: right;
    border-bottom: solid 1px #bbb;
    margin-bottom: 15px;
}

.customshoppingcart .itemtitle {
    float: left;
    text-align: left;
    font-weight: 700;
    border-bottom: solid 1px #bbb;
    width: 49%;
    padding-left: 10%;
}

.customshoppingcart .itemdescr {
    float: left;
    width: 13%;
    text-align: right;
    font-weight: 700;
}

.customshoppingcart .itemprice {
    float: left;
    width: 13%;
    text-align: right;
    font-weight: 700;
    border-bottom: solid 1px #bbb;
}

.customshoppingcart .itemqty {
    float: left;
    width: 6.5%;
    text-align: right;
    font-weight: 700;
    border-bottom: solid 1px #bbb;
}

.customshoppingcart .itemsubtotal {
    float: left;
    width: 29%;
    text-align: right;
    font-weight: 700;
    border-bottom: solid 1px #bbb;
}

.customshoppingcart .pimagecart {
    float: left;
    width: 10%;
}

.customshoppingcart .pimagecart img {
    float: left;
    max-width: 70px;
    margin-top: 10px;
}

.customshoppingcart .ptitle {
    float: left;
    width: 33%;
    width: 45%;
    padding-right: 15px;
}

.customshoppingcart .pprice {
    float: left;
    width: 8%;
    text-align: CENTER;
    margin-right: 10px;
}

.customshoppingcart .pqty {
    float: left;
    width: 6.5%;
    display: TABLE;
}

.customshoppingcart .psubtotal {
    float: left;
    width: 13%;
    display: TABLE;
    float: left;
    width: 29%;
    text-align: right;
    font-weight: 700;
    padding-right: 14px;
}

.customshoppingcart #palldiv {
    display: table;
    width: 100%;
    height: auto;
    background: #fff;
    padding-top: 25px;
    height: 130px;
}

.customshoppingcart .itemempty {
    float: left;
    width: 10%;
    display: TABLE;
    height: 0;
}

.checkoutpage {
    display: TABLE;
    max-width: 1170px;
    width: 100%;
}

.cart-qty-box {
    width: 20%;
}

.customshoppingcart .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #fff;
}

.customshoppingcart .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e600;
    border-color: #adadad00;
}

.table-cart .options-column {
    max-width: 100px;
    text-align: center;
}

.customshoppingcart .cart-qty-box {
    width: 50%;
}

.shippingcalculater {
    width: 50%;
}

.shippingcalculater .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.shippingform .form-group:nth-child(3) {
    margin-bottom: 15px;
    width: 48%;
    float: left;
}

.shippingform .form-group:nth-child(2) {
    margin-bottom: 15px;
    width: 48%;
    float: left;
    margin-right: 15px;
}

.discountp {
    border: Solid 1px #d2d2d2;
    border-radius: 3px;
}

.discountp .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #f5f5f5;
}

.discountp .btn-primary {
    background-color: #fff;
    border-color: #d2d2d2;
    color: #000;
    border-radius: 3px;
}

.discountp .btn-primary:hover {
    background-color: #35b111;
    border-color: #35b111;
}

.discountp .form-control {
    border-radius: 3px;
}

.subtotaltable thead {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.subtotaltable {
    float: right;
    border-radius: 3px;
}

.subtotaltable .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0 solid #ddd;
}

.subtotaltable th {
    background: #fff;
    color: #232323;
    font-weight: 700;
}

.subtotaltable td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    background-color: #fff;
}

#google_translate_element {
    padding: 5px;
    display: none;
}

.nav-actcurrency .dropdown-menu > li > a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #000;
    white-space: nowrap;
}

.nav-actcurrency .flagimg img {
    margin-right: 5px;
}

.nav-actcurrency .dropdown-menu {
    min-width: 190px;
}

#top-navbar .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #000;
    white-space: nowrap;
}

.topmenucustom {
    width: 60%;
    float: left;
    margin-left: -32px;
    margin-rigt: 4px;;
}

.topmenucustom li {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 8px;
}

.topmenucustom li a {
    color: #000;
}

.customsearchbar {
    width: 55%;
}

.customsearchbar .navbar-form .input-group > .form-control {
    width: 650px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.customsearchbar .navbar-form {
    width: 700px;
    margin-left: -37px;
}

.currencycustom {
    width: 14%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-top: 0;
}

.currencycustom li {
    display: inline-block;
    height: 0;
    line-height: 0;
    padding: 0 10px;
}

.nCustom-social-icons .fa {
    font-size: 18px;
}

.nCustom-slogan, .nCustom-social-icons {
    margin-top: 0;
    width: 22.33333333%;
}

.nCustom-social-icons .list-inline > li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.hotdeals a {
    color: red !important;
}

.wrapper-logo {
    width: 25.33333333%;
}

.customcart {
    margin-left: 40px;
    display: block;
    float: left !important;
}

.customcart .floatleft {
    float: left !important;
}

.customsearchbar .navbar-form .input-group-btn:last-child > .btn {
    background-color: #656565;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.customcart #header-cart {
    background-color: #656565;
    border-color: #000;
    border-radius: 5px;
}

nCustom-social-icons .pull-right {
    float: none !important;
}

.topmenucustom .pull-right {
    float: none !important;
}

.footerinfo {
    margin-top: 15px;
}

.colcustom1 {
    width: 25%;
    margin-right: 5%;
}

.colcustom2 {
    width: 15%;
}

.colcustom3 {
    width: 50%;
}

.colcustom4 {
    width: 29%;
}

.footercentermenu {
    display: table;
    width: 40%;
    float: left;
}

.tradinghours {
    display: table;
    padding-left: 15px;
}

.tradinghours h2 {
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    display: table;
}

.list-social a {
    font-size: 14px;
}

.list-social a:hover {
    text-decoration: none;
    color: #35b111;
}

.text-right {
    text-align: center !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -32px;
    margin-bottom: 15px;
}

.adressfooter {
    text-align: center;
    width: 100%;
}

.address > li {
    float: none;
    line-height: 14px;
    display: inline-block;
}

.footercardsbot {
    margin-top: 25px;
}

.footerpartner1 {
    width: 33.333%;
    float: left;
    margin-right: 5px;
}

.footerpartner2 {
    width: 26.333%;
    float: left;
    margin-right: 5px;
}

.footerpartner2 img {
    max-height: 84px;
}

.footerpartner3 img {
    margin-bottom: 5px;
    width: 113px;
    background: #fff;
    height: 39px;
    padding: 2px;
}

.fa-youtube-square:before {
    content: "\f166";
    color: #cc181e;
}

.fa-instagram:before {
    content: "\f16d";
    color: #3f729b;
}

.fa-linkedin-square:before {
    content: "\f08c";
    color: #0077B5;
}

.fa-youtube-square:before {
    content: "\f166";
    color: #cc181e;
}

.fa-instagram:before {
    content: "\f16d";
    color: #3f729b;
}

.fa-linkedin-square:before {
    content: "\f08c";
    color: #0077B5;
}

.fa-twitter:before {
    content: "\f099";
}

.fa-google-plus:before {
    content: "\f0d5";
}

.browsinghistory {
    height: 50px;
    line-height: 50px;
    width: 15%;
    float: left;
    display: inline-block;
    margin-left: -33px;;
}

.browsinghistory a {
    color: #656565;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans', Arial, sans-serif;
    display: inline;
    padding: 0;
}

.jcarousel-wrapper2 {
    display: block;
    /* padding: 0 15px; */
    width: 100%;
    position: relative;
    overflow: hidden;
}

.jcarousel2 {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    /* margin-left: -20px; */
}

.fixrightside {
    width: 100%;
}

.buyearn {
    padding: 0 15px;
    /* line-height: 35px; */
}

.buyearn .fa {
    font-size: 30px;
    color: #009be1;
}

.buyearn .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.buyearn .tooltip {

    z-index: 1070;


    font-size: inherit;
    line-height: 1.4;
    opacity: 1;
    filter: alpha(opacity=0);
    color: #009be1;
}

.buyearn .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: #ffffff;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    padding: 15px;
    border: solid 1px #bbb;
}

.buyearn .tooltip:hover .tooltiptext {
    visibility: visible;
}

/*browsing toltip*/
.browsinghistory .tooltip {
    position: relative;
    display: inline-block;
}

.browsinghistory .tooltip {

    z-index: 1070;
    font-size: 18px;
    line-height: 1.4;
    opacity: 1;
    color: #009be1;
    margin-left: 9px;
    margin-top: 14px;
}

.browsinghistory .tooltip .tooltiptext {
    visibility: hidden;
    width: 1138px;
    background-color: #ffffff;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    padding: 15px;
    border: solid 1px #bbb;
    margin-left: -604%;
    float: left;
}

.browsinghistory .tooltip:hover .tooltiptext {
    visibility: visible;
}

.browsinghistory .tooltiptext h3 {
    display: none;
}

.browsinghistory .tooltiptext .buying-options {
    float: right;
    margin-top: -45px;
    display: none;
}

.thumbnail-browse-history {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #bbbbbb;
    height: 305px;
    margin-top: -38px;
    margin-bottom: -5px;
}

.wrapper-assuranceppage row {
    margin: 0px 0px;
    text-align: left;
    padding-left: 10%;
    margin-bottom: -35px;
}

#n_product .wrapper-assuranceppage .thumbnail-assurance .headline > a {
    font-size: 12px;
    padding-left: 0px;
}

#n_product .wrapper-assuranceppage .thumbnail-assurance .caption-assurance {
    margin-left: 0px;
    width: auto;
    float: left;
}

#n_product .wrapper-assuranceppage .thumbnail-assurance .caption-assurance > p {
    padding-left: 0px;
}

#n_product .wrapper-assuranceppage .thumbnail-assurance {
    overflow: hidden;
    border-right: none;
    margin-bottom: 0px;
    height: 40px;
}

.brandintopright {
    z-index: 9999999;
    position: relative;
    text-align: right;
    /* justify-content: right; */
    /* display: flex; */
    width: 100%;
    display: table;
}

.brandintopright img {
    float: right;
    position: relative;
    display: table;
}

.nUpsellWidget label {
    cursor: pointer;
}

.crossellprmotion {
    width: 100%;
    float: right;
    display: table;
    border: solid 1px #b9b9b9;
    margin-top: 15px;
    border-radius: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: -15px;
    justify-content: center;
}

.crossellprmotion .col-sm-6 {
    width: 50%;
    padding-right: 0px;
}

.crossellprmotion h4 {
    font-size: 13px;
    font-weight: 300;
}

.crossellprmotion .col-xs-3 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 0px;
}

.crossellprmotion .col-xs-3 img {
}

.crossellprmotion h3 {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    text-indent: 15px;
    border-bottom: solid 1px #b1b1b1;
}

.crossellprmotion p {
    margin: 0 0 0px;
    font-size: 13px;
    font-weight: normal;
}

.crossellprmotion .nUpsellWidget--buyingOptions {
    display: none;
}

.crossellprmotion .col-xs-9 {
    float: left;
    width: 50%;
}

.crossellprmotion .col-xs-3 input {
    margin: 0px 10px 0;
    line-height: normal;
}

.fixrightside .breadpage {
    padding: 0px 5px;
    margin-bottom: 0px;
}

.fixrightside .promotioncatepage {
    margin-top: 15px;
    border-top: solid 0px #d0d0d0;
    padding-bottom: 15px;
}

.fixrightside .wrapper-product-title h2 {
    min-height: 80px;
}

.npopup {
    z-index: 9999999999999999 !Important;
}

.checkoutbuttonshop {
}

.fa-star {
    color: #ef9c00
}

.morefromright {
    text-align: center;
    height: 30px;
    border-top: solid 1px #c5c5c5;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.removeaddtocart .jcarousel > ul > li, .jcarousel > ul .wrapper-thumbnail {
    float: left !important;
    height: 340px;
    border: solid 1px #b1b1b1;
    margin: 5px;
    width: 210px;
    border-radius: 5px;
    border: 1px solid #eaeaea !important;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
}

.removeaddtocart .wrapper-heading {
    text-align: center;
    position: relative;
    margin: 30px 0 15px 0;
}

.estimatedprostage {
    /* width: 28%; */
    height: 45px;
    line-height: 32px;
    font-size: 14px;
}

.estimatedprostagecol {
    width: 25%;
}

.linehere {
    border-bottom: 1px solid #eeeeee;
}

.priceshop {
    width: 20%;
}

.qtycolumn {
    width: 15%;
}
