@import "https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Play:400,700";

body {
    font-family: Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    color: #333;
    background-image: none;
    background-color: #fff
}

.logo, img {
    margin-top: 0;
    max-width: 100%
}

a:focus, a:hover {
    text-decoration: none
}

#header-cart, .btn, a {
    -o-transition: color .3s, background .3s, border-color .3s;
    -ms-transition: color .3s, background .3s, border-color .3s;
    -moz-transition: color .3s, background .3s, border-color .3s;
    -webkit-transition: color .3s, background .3s, border-color .3s;
    transition: color .3s, background .3s, border-color .3s
}

.btn, .form-control {
    border-radius: 5px
}

.carousel-indicators .active {
    background-color: #4c4c4c;
    margin-left: 0
}

.carousel-indicators li {
    background-color: #c1c1c1
}

.carousel-control.left, .carousel-control.right {
    background-image: transparent !important;
    background: 0 0 !important
}

.carousel-control .fa {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 14px
}

.left.carousel-control .fa {
    left: 10%;
    margin-top: -20px
}

.right.carousel-control .fa {
    right: 10%;
    margin-top: -20px;
    left: auto
}

.carousel-control:focus .fa, .carousel-control:hover .fa {
    background-color: #000
}

.navbar-default .navbar-collapse {
    padding: 0
}

@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        padding: 0 15px
    }
}

.thumbnail-assurance .caption-assurance {
    margin-top: 5px
}

@media (min-width: 768px) {
    .dropdown-hover:hover > .dropdown-menu {
        display: block
    }
}

.top-links {
    background: #fff
}

.welcome {
    margin: 0;
    line-height: 34px;
    color: #000
}

.welcome > a {
    color: #35b111
}

.welcome > a:focus, .welcome > a:hover {
    text-decoration: underline
}

#top-navbar {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    margin-bottom: -15px
}

#currency_select > select {
    margin: 5px 0 !important;
    height: 23px !important;
    padding: 0 12px !important;
    width: 200px !important
}

#top-navbar + a {
    display: inline-block;
    width: 120px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 15px
}

#top-navbar > li > a {
    margin: 10px 0;
    padding: 0 15px;
    border-right: 1px solid #fff;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    margin-left: -17px
}

#top-navbar > li > a .fa-user, #top-navbar > li > a.currency_coverter {
    display: inline-block;
    margin-right: 5px
}

.btn-success {
    background: #35b111;
    border-color: #35b111
}

.btn-checkout {
    border-radius: 5px;
    font-weight: 700;
    width: auto
}

.checkoutbuttonshop.btn-checkout {
    width: 100%
}

.btn-checkout i {
    margin-right: 5px
}

.top-contact {
    font: 400 18px/20px Play;
    color: #555
}

.newproducts {
    clear: both;
    width: 100%;
    margin-bottom: 20px;
    float: left
}

.customshoppingcart22 .btn-checkout {
    width: 250px
}

@media (max-width: 1199px) {
    #top-navbar > li > a .fa-user, #top-navbar > li > a.currency_coverter {
        display: inline-block
    }

    .my-account {
        display: none
    }

    #currency_select {
        position: absolute;
        display: none;
        right: 0;
        padding: 5px;
        background-color: #232323
    }

    #top-navbar > li > a {
        padding: 0 12px
    }

    #top-navbar > li .dropdown-menu {
        z-index: 99999
    }

    #top-navbar > li.pull-right {
        float: left !important
    }

    #currency_select > select {
        margin: 0 !important
    }
}

#top-navbar > li:last-child > a {
    border-right: none
}

#top-navbar > li:focus > a, #top-navbar > li:hover > a, #top-navbar > li > a:focus, #top-navbar > li > a:hover {
    color: #35b111;
    background: 0 0
}

#top-navbar > li:last-child > a {
    border-right: none
}

.logo {
    width: 235px;
    height: 120px;
    margin-top: -18px
}

.header-search .form-control {
    border: none
}

.header-search {
    border: 1px solid #b4b3b3
}

.header-search:focus, .header-search:hover {
    border: 1px solid #35b111
}

.header-search .btn-default {
    margin: 0;
    border: none
}

.header-search .btn-default:focus, .header-search .btn-default:hover {
    color: #000;
    background-color: transparent
}

.wrapper-header {
    padding: 10px 0;
    background-color: #fff
}

#header-cart {
    background-color: #35b111;
    border-color: #000
}

#header-cart > a {
    background-color: transparent;
    border-color: transparent;
    color: #fff
}

#header-cart, .wishlist {
    margin: 8px 0
}

.wishlist {
    margin-right: 10px
}

.wishlist > a {
    display: block;
    background-color: #000;
    color: #fff;
    padding: 7px 12px
}

.wishlist > a:focus, .wishlist > a:hover {
    background: #35b111;
    border-color: #35b111;
    color: #fff
}

.rate-wrap p {
    max-width: 250px;
    margin: 0 auto
}

.rate-wrap .description {
    font: 400 16px/25px Roboto;
    margin-bottom: 10px;
    margin-top: 10px
}

.rate-wrap .author {
    font: 700 16px/20px Roboto;
    margin-bottom: 40px
}

#header-cart:focus, #header-cart:hover {
    background: #4a4949
}

#cartcontentsheader {
    padding-right: 0
}

#cartcontentsheader + a {
    padding-left: 5px;
    width: 10%
}

.wrapper-navigation {
    background-color: #fff;
    border-top: 1px solid #d3d5d7;
    border-bottom: 4px solid #35b111
}

.newproductsheader {
    text-transform: uppercase;
    font-size: 22px;
    padding-left: 20px
}

.navbar-default {
    margin-bottom: 0
}

.menu-desktop .navbar-collapse {
    width: 300px;
    padding: 0 13px;
    padding-right: 0;
    display: inline-block;
    position: absolute;
    top: 55px;
    z-index: 1069;
    background: #fff;
    display: none !important
}

.menu-desktop .navbar-collapse.active {
    display: block !important
}

.title-menu-cat {
    text-transform: uppercase;
    font: 400 18px/46px Roboto;
    margin-bottom: 0;
    background-color: #35b111;
    padding: 0 18px;
    color: #000;
    padding-top: 4px
}

.title-menu-cat:hover {
    cursor: pointer
}

.title-menu-cat:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/bg-ravsin.png) no-repeat scroll 0 -90px;
    margin-right: 10px;
    vertical-align: -3px
}

.navbar-default {
    border: none;
    border-radius: 0;
    background: 0 0;
    width: 85%;
    display: block;
    float: left
}

.navbar-default .navbar-nav > li {
    position: static
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    padding: 10px 0 0
}

.navbar-default .navbar-nav > li .dropdown-menu {
    top: 0;
    width: 840px;
    border-radius: 0;
    background-color: #fff;
    margin-top: 0;
    border-color: #ebebeb;
    border-top: none;
    left: 300px;
    min-height: 100%
}

.navbar-default .navbar-nav > li .dropdown-menu .see-all > a {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding-left: 15px;
    z-index: 999;
    position: relative;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #518dd6
}

.navbar-default .navbar-nav > li .dropdown-menu .see-all > a:hover {
    color: #37bb11
}

.navbar-default .navbar-nav > li .dropdown-menu .see-all ul {
    padding: 0
}

.navbar-default .navbar-nav > li .dropdown-menu:after, .navbar-default .navbar-nav > li .dropdown-menu:before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    left: 33%;
    background: #ddd;
    top: 10px;
    bottom: 10px
}

.navbar-default .navbar-nav > li .dropdown-menu:after {
    left: 66%
}

.menu-desktop.navbar-default {
    display: inline-block;
    width: 300px
}

.menu-desktop.navbar-default + .topmenucustom {
    margin-right: 0;
    margin-left: 40px;
    margin-top: 8px
}

.menu-desktop.navbar-default + .topmenucustom li {
    margin-right: 8px
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav > li .dropdown-menu {
        display: none
    }

    .navbar-default .navbar-nav > li > a .caret {
        display: none
    }
}

.navbar-default .navbar-nav > li > a {
    padding: 14px 0;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    font-family: open sans, Arial, sans-serif;
    text-transform: uppercase;
}

.navbar-default.menu-desktop .navbar-nav > li > a {
    position: relative
}

.navbar-default.menu-desktop .navbar-nav > li > a:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    background: url(../images/bg-ravsin.png) no-repeat scroll 0 0;
    vertical-align: -2px
}

.navbar-default.menu-desktop .navbar-nav > li:hover > a:before {
    background-position: 0 -48px
}

.navbar-default.menu-desktop .navbar-nav > li {
    width: 100%;
    border-bottom: none
}
.navbar-nav{
    width: 100%;
}
.navbar-default.menu-desktop .navbar-nav > li > a:after {
    content: "";
    display: inline-block;
    background: #f2f2f2;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px
}

.navbar-default.menu-desktop .navbar-nav > li:last-child > a:after {
    display: none
}

.second-category {
    margin-bottom: 10px;
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 33%
}

.second-category > a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-weight: 700 !important;
    text-transform: uppercase
}

.sub-category {
    margin: 0;
    padding: 0;
    list-style: none
}

.sub-category li a {
    color: #518dd6;
    font-size: 12px
}

.sub-category li:hover > a, .sub-category li > a:focus {
    color: #35b111
}

.navbar-default .navbar-nav > li:focus > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #35b111
}

.wrapper-carousel {
    margin-bottom: 0
}

.wrapper-assurance .row {
    margin: 0 -5px;
    text-align: left;
    padding-left: 18px
}

.wrapper-assurance > .row > div:last-child .thumbnail-assurance {
    border-right: none
}

.wrapper-assurance .col-md-2-5 {
    width: 20%;
    padding: 0 15px;
    border-right: none
}

.wrapper-assurance .col-md-2-5:last-child {
    border: none
}

.thumbnail-assurance {
    overflow: hidden
}

.thumbnail-assurance > .caption-assurance, .thumbnail-assurance > .image {
    float: none
}

.thumbnail-assurance > .image {
    width: 50px;
    float: left
}

.thumbnail-assurance .headline {
    margin: 0
}

.thumbnail-assurance .headline > a {
    margin: 0 3px;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    display: block
}

.thumbnail-assurance .caption-assurance > p {
    margin: 0;
    font-size: 10px;
    color: #939393
}

.thumbnail-assurance .caption-assurance {
    margin-left: 5px
}

#n_product .wrapper-assurance {
    text-align: center
}

@media (max-width: 991px) {
    .n_quickview .thumbnail-assurance {
        height: 120px !important
    }
}

@media (max-width: 1199px) {
    .thumbnail-assurance .caption-assurance {
        margin-left: 0;
        width: 100%;
        margin-top: 9px
    }

    .thumbnail-assurance .caption-assurance > p, .thumbnail-assurance .headline > a {
        text-align: center
    }

    .contact-cart-container ul.customcart, .contact-cart-container ul.customcart li, .customcart #header-cart {
        width: 100%
    }
}

@media (max-width: 991px) {
    .wrapper-assurance {
        text-align: center
    }

    #n_product .thumbnail-assurance > .image {
        display: inline-block
    }

    .wrapper-assurance .col-sm-2 {
        width: 33.33%;
        float: none;
        display: inline-block
    }

    .thumbnail-assurance {
        overflow: hidden;
        border-right: none;
        margin-bottom: 10px
    }

    .thumbnail-assurance > .image {
        display: block
    }

    .thumbnail-assurance .caption-assurance {
        margin-left: 15px;
        width: auto;
        margin-top: 9px
    }

    .thumbnail-assurance .headline {
        margin: 0
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .thumbnail-assurance {
        position: relative
    }

    .thumbnail-assurance .caption-assurance {
        position: absolute;
        transform: translateY(-50%);
        left: 49px;
        margin-top: 0;
        top: 50%;
        margin: 0
    }

    .thumbnail-assurance .headline {
        margin: 0
    }

    .wrapper-assurance .thumbnail-assurance .headline > a {
        margin: 0 !important
    }
}

@media (max-width: 767px) {
    .thumbnail-assurance > .image {
        display: inline-block;
        width: 100%
    }

    .thumbnail-assurance .caption-assurance {
        margin-left: 0;
        width: 100%
    }
}

.thumbnail {
    padding: 0;
    border: none;
    border-radius: 0
}

.thumbnail .caption h3 {
    margin-bottom: 10px;
    font-size: inherit;
    line-height: normal;
    height: 53px;
    overflow: hidden;
    font-weight: 400
}

.featuredproducthere .thumbnail .caption h3 {
    height: 51px
}

.thumbnail .caption h3 a {
    color: #3c3c3c;
    text-align: left;
    display: block;
    text-transform: capitalize;
}

.thumbnail .caption {
    padding: 9px 0;
    color: #3c3c3c;
    text-align: left
}

.thumbnail .reviews {
    margin-bottom: 5px;
    display: block;
    color: #3c3c3c
}

.rrp-price {
    color: #3c3c3c;
    text-decoration: line-through
}

.thumbnail .caption .price {
    margin: -10px 0 -5px;
    font-size: 15px;
    height: auto;
    font-weight: 500;
    text-align: left;
    text-indent: 0
}

.thumbnail .caption .price .label-default {
    background: 0 0;
    color: #636363;
    float: right;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through
}

.thumbnail .buying-options .btn {
    padding: 6px 15px;
    font-size: 14px;
    background: #35b111;
    border-color: #35b111;
    border-radius: 3px;
    width: auto;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase
}

.thumbnail .buying-options .btn.notify_popup {
    background: #505050;
    border-color: #505050
}

.list-social-footer .list-social {
    text-align: center
}

.thumbnail .buying-options .btn:hover {
    opacity: .8
}

.thumbnail .buying-options .btn .fa-shopping-cart:before {
    content: "Thêm vào giỏ";
    text-transform: uppercase;
    font: 700 14px Roboto;
    letter-spacing: 1px
}

.thumbnail .buying-options .btn .fa-minus-square:before {
    content: "Notify me";
    text-transform: uppercase;
    font: 700 14px Roboto;
    letter-spacing: 1px;
    color: #fff
}

.thumbnail .buying-options .btn-primary:hover, .thumbnail .buying-options .btn.primary:focus {
    background: #35b111;
    border-color: #35b111
}

.thumbnail .product-wishlist > a {
    color: #a3a3a3;
    margin-bottom: 10px;
    display: block
}

.thumbnail .caption h3 a:focus, .thumbnail .caption h3 a:hover, .thumbnail .product-wishlist > a:focus, .thumbnail .product-wishlist > a:hover {
    color: #45ad26
}

.tabbable.home {
    margin: 50px 0 0;
    overflow: hidden;
    text-align: center;
    position: relative
}

.tabbable.home > hr {
    margin: 18px 0 0;
    position: absolute;
    border-color: #a5abb7;
    width: 100%;
    z-index: 1
}

.tabbable.home .nav-tabs {
    margin-bottom: 30px;
    padding: 0 25px;
    display: inline-block;
    border-bottom: none;
    background-color: #fff;
    position: relative;
    z-index: 2
}

.tabbable.home .nav-tabs > li > a {
    padding: 0 3px;
    font-size: 21px;
    line-height: 33px;
    text-transform: uppercase;
    border-color: #fff;
    background-color: #fff
}

.tabbable.home .nav-tabs > li > a:focus, .tabbable.home .nav-tabs > li > a:hover {
    color: #35b111
}

.tabbable.home .nav-tabs > li:first-child > a {
    padding-right: 2px
}

.tabbable.home .nav-tabs > li:last-child > a {
    padding-left: 2px
}

.tabbable.home .nav-tabs > li.active > a, .tabbable.home .nav-tabs > li.active > a:focus, .tabbable.home .nav-tabs > li.active > a:hover {
    font-size: 29px;
    color: #37bb11 !important
}

.wrapper-heading {
    text-align: center;
    position: relative;
    margin: 50px 0
}

.wrapper-heading > hr {
    margin: 12px 0 0;
    position: absolute;
    border-color: #a5abb7;
    width: 100%;
    z-index: 1
}

.wrapper-heading > h3 {
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
    display: inline-block;
    z-index: 2;
    position: relative;
    background-color: #fff;
    text-transform: uppercase
}

.wrapper-heading > h2 span {
    font-size: 24px
}

.wrapper-newsletter {
    margin-top: 70px;
    text-align: center
}

.wrapper-newsletter > h1 {
    margin: 0 0 10px
}

@media (min-width: 992px) and (max-width: 1199px) {
    .thumbnail .caption h3 {
        height: auto
    }

    .thumbnail .caption .price .label-default {
        float: left;
        padding: 0;
        margin: 5px 0
    }
}

@media (max-width: 568px) {
    .thumbnail .caption .price .label-default {
        width: 100%;
        margin: 5px 0 9px;
        text-align: left;
        padding: 0
    }
}

@media (max-width: 500px) {
    .wrapper-newsletter > h1 {
        font-size: 30px
    }

    .wrapper-newsletter > h3 {
        font-size: 18px
    }
}

.wrapper-newsletter > form {
    padding-top: 10px
}

.wrapper-newsletter .form-control {
    font-size: 16px;
    height: 63px
}

.newsletter .form-control:focus, .newsletter .form-control:hover, .wrapper-newsletter .form-control:focus, .wrapper-newsletter .form-control:hover {
    border: 1px solid #35b111
}

.wrapper-newsletter .btn {
    background-color: #292a2b;
    border-color: #6e6f70;
    color: #fff;
    padding: 15px 25px;
    font-size: 22px
}

#pricesearch .btn-success:focus, #pricesearch .btn-success:hover, .newsletter .btn:focus, .newsletter .btn:hover, .sidebar-newsletter .btn:focus, .sidebar-newsletter .btn:hover, .wrapper-newsletter .btn:focus, .wrapper-newsletter .btn:hover {
    background: #35b111;
    border-color: #35b111
}

.browsing-history {
    margin: 60px 0 50px;
    text-align: center;
    position: relative
}

.wrapper-carousel-brands .browsing-history {
    margin: 90px 0 30px
}

.browsing-history > hr {
    margin: 15px 0 0;
    position: absolute;
    border-color: #a5abb7;
    width: 100%;
    z-index: 1
}

.browsing-history > h3 {
    margin: 0;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    z-index: 2
}

.jcarousel-wrapper {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden
}

.jcarousel {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    margin-left: 10px
}

.jcarousel > ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.jcarousel .productsavex {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.jcarousel .percentbutton {
    display: inline;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    float: left;
    width: 10%;
    margin: 2px;
    background-color: #fff;
    margin-left: 30px
}

.jcarousel .savings-container .rrpstyle {
    color: #636363;
    background-color: #fff;
    font-size: 13px;
    width: 100%;
    text-decoration: line-through;
    text-align: left;
    padding: 0
}

.jcarousel > ul .wrapper-thumbnail, .jcarousel > ul > li {
    float: left !important;
    height: 340px;
    border: solid 1px #b1b1b1;
    margin: 5px;
    width: 210px;
    border-radius: 5px
}

.wrapper-carousel-brands {
    margin-bottom: 0
}

.wrapper-carousel-brands .jcarousel > ul > li {
    padding: 0 20px
}

.thumbnail-brands {
    height: 100px;
    text-align: center;
    font: 0/0 a
}

@media (max-width: 767px) {
    .thumbnail-brands {
        height: 200px
    }
}

.thumbnail-brands:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.thumbnail-brands > a {
    display: inline-block;
    vertical-align: middle;
    font: 14px/1 Arial sans-serif
}

#left-sidebar {
    background: #fff;
    margin-top: 0;
    position: absolute;
    left: -220px;
    width: 210px;
    display: inline-block;
    z-index: 9;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px
}

#left-sidebar .panel {
    background: 0 0 !important;
    margin-bottom: 0
}

#filters {
    width: 210px;
    border: solid 1px #f1f1f1 !important;
    border-radius: 5px;
    padding: 10px 0
}

#left-sidebar .panel ul li {
    border: none
}

#left-sidebar .panel ul li.filter {
    display: block !important
}

#left-sidebar .panel ul li.clearfix {
    display: none
}

#left-sidebar .panel-default > .panel-heading {
    color: #000;
    background: 0 0;
    border-radius: 0;
    border-color: #fff
}

.list-group > li + .filter > a:before {
    font-size: 20px;
    color: #cdcdcd;
    vertical-align: -3px
}

#left-sidebar .list-group .h4, #left-sidebar .list-group h4 {
    font-size: 16px;
    color: #518dd6
}

#left-sidebar .list-group-item, #left-sidebar .panel-default, #left-sidebar a.list-group-item {
    border: none !important;
    box-shadow: none !important;
    background: 0 0 !important;
    padding-bottom: 0
}

#left-sidebar a.list-group-item:focus, #left-sidebar a.list-group-item:hover {
    background: 0 0;
    color: #35b111
}

#left-sidebar a.list-group-item:focus .text-muted, #left-sidebar a.list-group-item:hover .text-muted {
    color: #35b111
}

#_jstl__header_r {
    position: relative
}

@media (min-width: 1200px) and (max-width: 1399px) {
    #left-sidebar {
        left: -70px
    }

    #left-sidebar + .categorypage {
        width: calc(100% - 280px);
        margin-left: auto;
        margin-right: auto;
        float: none
    }

    #left-sidebar + .categorypage .promotioncatepage {
        right: -50px
    }

    #left-sidebar + .categorypage .col-lg-3 {
        height: auto
    }

    #n_product .categorypage, .categorypage.wrap-cart-page {
        width: calc(100% - 150px)
    }

    .categorypage.wrap-cart-page {
        margin-bottom: 20px
    }

    #n_product .categorypage .promotioncatepage, .categorypage.wrap-cart-page .promotioncatepage {
        right: -50px
    }

    .morefromright {
        font-size: 15px !important;
        width: 100% !important
    }
}

.panel-heading-thumbnails {
    display: none
}

#filters::-webkit-scrollbar-track {
    border: 1px solid #ffffff00;
    background-color: #f5f5f500
}

#filters::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f500
}

#filters::-webkit-scrollbar-thumb {
    background-color: #6f6f6f;
    height: 100px
}

@media (max-width: 991px) {
    .panel-heading-thumbnails {
        display: block
    }
}

.breadcrumb {
    padding-left: 0;
    padding: 0 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    background: 0 0
}

#n_checkout .breadcrumb {
    margin-top: 15px
}

.category-name {
    margin: 0;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    color: #333;
    padding: 20px 20px 16px
}

.category-name:after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background: #35b111;
    position: absolute;
    bottom: 0;
    left: 20px
}

.breadcrumb > li > a {
    font-size: 14px
}

.breadcrumb > li:first-child > a {
    font-weight: 700
}

.breadcrumb > li > a:focus, .breadcrumb > li > a:hover {
    color: #a3a3a3;
    text-decoration: underline
}

.viewby > a {
    color: #fff;
    background: #000;
    border-color: #000
}

.viewby > a.active, .viewby > a:focus, .viewby > a:hover {
    color: #fff;
    background: #35b111;
    border-color: #35b111
}

#n_product hr {
    border-color: #a5abb7
}

#n_product .tabbable {
    margin-top: 20px;
    border: 1px solid #eaeaea
}

#n_product .nav-tabs > li.active > a, #n_product .nav-tabs > li.active > a:focus, #n_product .nav-tabs > li.active > a:hover, #n_product .nav-tabs > li > a:focus, #n_product .nav-tabs > li > a:hover {
    color: #fff;
    background-color: #35b111;
    border: 1px solid #35b111
}

#n_product .nav-tabs > li > a {
    color: #232323;
    background: #f5f5f5;
    border-radius: 0
}

#n_product .nav-tabs {
    border-bottom: 1px solid #fff;
    background-color: #f5f5f5
}

#n_product .tab-content {
    padding: 20px;
    border: 1px solid #ffffff;
    border-top: none
}

.btn-share {
    background-color: #000;
    border: 1px solid #000;
    color: #fff
}

.btn-cart, .btn-share:focus, .btn-share:hover {
    text-transform: capitalize;
    background-color: #35b111;
    border: 1px solid #35b111;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0
}

.btn-notify {
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0
}

.btn-cart:focus, .btn-cart:hover {
    background-color: #24790b;
    border: 1px solid #24790b
}

.btn-share > .fa {
    color: #fff !important
}

.brandsbottom {
    margin: 15px auto 0
}

.wrapper-footer {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 25px;
    border-top: 0 solid #35b111;
    position: relative;
    background-color: #222
}

@media (max-with: 767px) {
    .wrapper-footer {
        padding-top: 40px
    }
}

.footer-logo {
    top: 10px;
    left: 10px
}

@media (max-width: 991px) {
    .wrapper-footer {
        padding-top: 55px
    }

    .footer-logo {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center
    }
}

.aboutusfooter h2 {
    font-size: 14px
}

.wrapper-footer h4 {
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    color: #fff;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 14px
}

.wrapper-footer h3 {
    color: #fff;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    font-size: 16px
}

.wrapper-footer h3.margin-top {
    margin-bottom: 0;
    margin-top: 42px
}

.wrapper-footer h4:after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 80px;
    height: 1px;
    display: block
}

@media (max-width: 767px) {
    .wrapper-footer h4:after {
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .wrapper-footer h4 {
        margin: 10px 0;
        padding: 0 0 10px
    }
}

.wrapper-footer .nav-pills > li > a {
    padding: 0 15px;
    border-radius: 0;
    color: #fff;
    font-size: 12px
}

.main-footer p {
    font-size: 12px
}

.aboutusfooter {
    font-size: 12px;
    height: 122px
}

.footer-links > li > a:focus, .footer-links > li > a:hover, .wrapper-footer .nav-pills > li > a:focus, .wrapper-footer .nav-pills > li > a:hover {
    background: 0 0;
    color: #35b111
}

.newsletter .btn-default, .sidebar-newsletter .btn-default {
    border-color: #6e6f6f;
    background: #2a2a2a;
    color: #fff
}

.address {
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin: 5px 0
}

.address > li {
    line-height: 14px;
    color: #fff
}

.address > li:first-child {
    padding-left: 10px;
    margin-right: 0;
    color: #fff;
    font-size: 13px
}

.wrapper-payment {
    padding-top: 0;
    border-top: 0 solid #a1b1bc;
    position: relative;
    background-color: #1f1d1e;
    margin-bottom: 0
}

@media (max-width: 767px) {
    .address {
        margin: 4px 0 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        text-align: center
    }

    .address > li:first-child {
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 10px;
        border-right: none
    }

    .address > li {
        float: none;
        display: block;
        line-height: normal
    }

    .wrapper-payment {
        padding: 5px 0;
        position: static;
        height: 36px
    }

    .footer-links > li {
        display: block
    }

    .footer-links > li > a {
        padding: 7px 0;
        border-right: none
    }
}

.list-social {
    margin: 0
}

.list-social.list-inline > li {
    transform: scale(.85);
    margin: 0 -8px
}

.nCustom-social-icons .list-social.list-inline > li {
    transform: scale(1);
    margin: 0
}

.nCustom-social-icons .list-social.list-inline {
    float: none !important
}

.list-social.list-inline.social-share > li {
    display: inline-block;
    width: 100%;
    transform: scale(1);
    margin: 0
}

.list-social.list-inline.social-share > li a {
    font-size: 12px
}

.list-social.list-inline.social-share > li a i.fa {
    display: inline-block;
    width: 16px;
    background: red;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    vertical-align: 1px;
    height: 16px;
    padding: 3px
}

.list-social.list-inline.social-share > li a i.fa:before {
    color: #fff
}

.list-social.list-inline.social-share > li a i.fa-facebook {
    background: #385c9a
}

.list-social.list-inline.social-share > li a i.fa-twitter {
    background: #00abf1
}

.list-social.list-inline.social-share > li a i.fa-google-plus {
    background: #ef4c47
}

.list-social.list-inline.social-share > li a i.fa-youtube {
    background: #c9191c
}

.list-social.list-inline.social-share > li a i.fa-instagram {
    background: #2f6e99
}

.list-payment {
    text-align: right
}

.payment-icon-container {
    background: #fff
}

.footer-links {
    text-align: center
}

.footer-links > li {
    display: inline-block;
    line-height: 80px
}

.footer-links > li > a {
    padding: 0 15px;
    border-right: 1px solid #fff;
    line-height: 14px;
    font-size: 12px;
    color: #fff
}

.footer-links > li > a:hover {
    color: #383838
}

.footer-links > li:last-child > a {
    border-right: none
}

@media (max-width: 767px) {
    .footer-links > li {
        display: block
    }

    .footer-links > li > a {
        padding: 7px 0;
        border-right: none
    }

    .tabbable.home > hr {
        display: none
    }

    .tabbable.home .nav-tabs > li {
        float: none;
        display: block;
        margin: 0
    }
}

.thumbnail-image .qv-hover {
    position: absolute;
    display: none;
    opacity: 0;
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(255, 255, 255, .9);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    color: #333;
    left: 50%;
    margin-left: -50px;
    top: 106px;
    padding: 10px 0;
    border-radius: 6px;
    width: 100px;
    text-align: center;
    -webkit-transition: all .12s ease-in;
    -moz-transition: all .12s ease-in;
    -o-transition: all .12s ease-in;
    transition: all .12s ease-in
}

.thumbnail-image:hover .qv-hover {
    opacity: 1
}

.go-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    border: 2px solid #e9e9e9;
    color: #e9e9e9;
    display: block;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}

.go-top:focus, .go-top:hover {
    border-color: #000;
    color: #000
}

.pagination > li > a, .pagination > li > span {
    border-radius: 0 !important
}

.wrapper-pagination hr {
    margin: 15px 0;
    border-color: #fff
}

.sidebar-new {
    margin: 25px 0;
    display: none
}

.rightside hr {
    margin: 15px 0
}

.main-image {
    position: relative
}

.brand-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px
}

.arrow-icon {
    padding-left: 15px
}

.arrow-icon:before {
    display: inline-block;
    content: "\f0a9";
    font-size: 14px;
    position: relative;
    left: -5px;
    font: 14px FontAwesome
}

.nav-currency .dropdown-menu {
    z-index: 5000000
}

.nav-currency.btn-group > button {
    padding: 1px 10px;
    margin-top: 0;
    line-height: 15px;
    display: inline-block
}

.nav-currency.btn-group > button img {
    vertical-align: -1.8px
}

.now-sticky {
    width: 100% !important;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    border-bottom: none !important;
    background: #fff !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15)
}

.now-sticky .row-nav {
    padding: 0 !important
}

.now-sticky .navbar-default, .now-sticky .navbar-default .navbar-collapse {
    border-bottom: 0
}

.now-sticky .wrapper-navigation {
    margin-bottom: 0
}

#google_translate_element {
    padding: 5px
}

#n_category, #n_checkout, #n_product {
    background: #f5f5f5;
    overflow-x: hidden
}

#n_category, #n_product {
    overflow-x: hidden
}

#n_category .browsing-history > h3 {
    background: #fff
}

.productdetails .text_main {
    border-color: #ccc
}

#n_category #main-content, #n_product #main-content {
    background: 0 0
}

.box-relative {
    position: relative
}

ul.sub-category li a:hover {
    color: #37bb11
}

.navbar-form {
    padding-right: 12px;
    padding-left: 0
}

.navbar-form .input-group-btn:last-child > .btn {
    background-color: #35b111;
    color: #fff
}

.nCustom-slogan, .nCustom-social-icons {
    margin-top: 0;
    margin-left: 30px
}

.nCustom-slogan h2 {
    font-weight: 100;
    text-align: center;
    display: none
}

.navbar-header .navbar-brand i.fa.fa-home {
    color: #000;
    margin-right: -15px
}

form#pricesearch a, form#pricesearch input.btn {
    background-color: #000;
    border: 1px solid #000
}

.label-success {
    background-color: #35b111 !important
}
.label-success.out_stock{
    background-color: red !important;
}
.btn-primary:focus, .btn-primary:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

#n_checkout .sticky.now-sticky {
    box-shadow: none;
    position: relative
}

.btn-paypal {
    border-radius: 4px !important;
    width: 250px;
    float: right;
    margin-bottom: 10px
}

.btn-paypal.border-radius-4 {
    border-radius: 4px !important
}

.padding-right-0 {
    padding-right: 0
}

.wrapper-sticky {
    background-color: #fff
}

#n_checkout .wrapper-sticky {
    position: relative
}

#main-content {
    padding-top: 0
}

#n_checkout #main-content {
    padding-top: 0
}

@media (max-width: 1199px) {
    #main-content {
        padding-top: 0
    }

    #n_checkout #main-content {
        padding-top: 0
    }

    .featuredproducthere, .tableproducts, .tablesleproducts {
        margin-left: 11px !important;
        margin-right: 0 !important
    }

    .featuredproducthere .col-lg-3, .tableproducts .col-lg-3, .tablesleproducts .col-lg-3 {
        width: calc(33.33% - 11px);
        margin: 0 11px 11px 0
    }

    .rate-wrap p {
        max-width: 180px
    }

    .rate-wrap .description {
        font: 400 14px/25px Roboto
    }

    .rate-wrap .author {
        font: 700 14px/20px Roboto
    }

    .user-mobile {
        display: inline-block !important;
        float: left;
        margin-right: 15px;
        margin-top: 10px
    }

    .user-mobile + div {
        display: inline-block;
        width: auto;
        float: right
    }

    .user-mobile i.fa {
        color: #555;
        font-size: 24px
    }

    .contact-cart-container > a {
        display: none
    }

    .contact-cart-container .visible-inline-lg {
        display: none !important
    }

    .categoryimg {
        width: calc(33% - 10px);
        margin-right: 10px
    }

    .icon-menu-mobile {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(../images/bg-ravsin.png) no-repeat scroll 0 -131px;
        vertical-align: -15px;
        margin-right: 5px
    }

    #header-cart > a {
        padding-right: 10px;
        width: 100%
    }

    #menu-mobile .head {
        float: left;
        width: 100%;
        border-bottom: 3px solid #35b111;
        padding: 6px 10px;
        height: 48px
    }

    #menu-mobile .head .topmenucustom {
        margin: 0 8px 0 20px
    }

    #menu-mobile .head .topmenucustom .currencycustom {
        width: 50%
    }

    #menu-mobile .head .topmenucustom .nav-currency.btn-group > button {
        padding: 0
    }

    #menu-mobile .head h3 {
        font: 400 14px/32px Play;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 0
    }

    #menu-mobile .navbar-nav > li {
        width: 100%;
        border-bottom: 2px solid #f2f2f2
    }

    #menu-mobile .navbar-nav > li > a {
        font-size: 13px;
        line-height: 16px;
        position: relative;
        padding-left: 30px;
        display: inline-block;
        z-index: 9;
        padding-top: 15px;
        padding-bottom: 15px
    }

    #menu-mobile .navbar-nav > li > a:focus {
        background: 0 0
    }

    #menu-mobile .navbar-nav > li > a:after {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        background: url(../images/bg-ravsin.png) no-repeat scroll 0 0;
        position: absolute;
        left: 8px;
        top: 17px
    }

    #menu-mobile .navbar-nav > li:last-child {
        border-bottom: none
    }

    #menu-mobile .navbar-nav {
        padding: 0 10px;
        float: left;
        margin: 0;
        width: 100%
    }

    #menu-mobile .topmenucustom {
        margin: 0;
        padding: 0
    }

    #menu-mobile .nav + .topmenucustom {
        padding: 0 10px
    }

    #menu-mobile .nav + .topmenucustom li a {
        font-size: 12px
    }

    #menu-mobile .nav + .topmenucustom li a i {
        display: inline-block;
        min-width: 19px
    }

    #menu-mobile .topmenucustom ul {
        padding: 10px 0;
        width: 100%;
        margin: 0;
        float: left;
        border-top: 2px solid #f2f2f2
    }

    #menu-mobile .topmenucustom ul li {
        float: left;
        width: 50%;
        line-height: 30px;
        height: 30px
    }

    .acc-menu-mobile {
        font-size: 10px
    }

    .acc-menu-mobile i {
        font-size: 14px
    }

    .browsing-menu-mobile {
        display: inline-block;
        width: 100%;
        font-size: 13px;
        padding: 0 20px;
        margin-top: -10px;
        float: left;
        color: #32abd8
    }

    .browsing-menu-mobile i {
        margin-right: 5px
    }

    .after-div-lv2 {
        position: absolute;
        top: 0;
        height: 50px;
        left: 0;
        background: 0 0;
        width: calc(100% - 30px)
    }

    .contact-menu-mobile {
        display: inline-block;
        float: left;
        width: 100%;
        margin-top: 10px;
        padding: 10px 20px;
        font: 400 14px Play;
        text-align: center;
        position: relative
    }

    .contact-menu-mobile:after {
        background: #f2f2f2;
        position: absolute;
        left: 10px;
        right: 10px;
        height: 2px;
        content: "";
        display: inline-block;
        top: 0
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .tableproducts .col-lg-3, .tablesleproducts .col-lg-3 {
        height: 405px;
        margin-bottom: 11px
    }

    .featuredproducthere .col-lg-3 {
        margin-bottom: 11px
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    #header-cart > a {
        font-size: 12px
    }
}

@media (min-width: 992px) {
    .aboutusfooter {
        max-width: 210px
    }
}

@media (max-width: 991px) {
    #main-content {
        padding-top: 0
    }

    #n_checkout #main-content {
        padding-top: 0
    }

    .tableproducts .col-lg-3, .tablesleproducts .col-lg-3 {
        margin-bottom: 11px;
        height: auto
    }

    .tablesleproducts .col-lg-3:nth-child(3n+1) {
        clear: both
    }

    .wrapper-footer .nav-pills > li > a {
        padding-right: 0
    }

    .wrapper-footer h3.margin-top {
        margin-top: 61px
    }

    .aboutusfooter {
        height: 130px
    }
}

@media (max-width: 767px) {
    .user-mobile + div {
        padding: 0;
        width: 50px
    }

    #header-cart > a {
        padding: 6px
    }

    #main-content {
        padding-top: 0
    }

    .wrapper-sticky {
        position: relative
    }

    .customcart #header-cart .dropdown-menu {
        display: none
    }

    .customcart {
        margin: 0
    }

    .customcart #header-cart {
        margin: 0
    }

    .user-mobile {
        margin-top: 12px;
        margin-left: 15px
    }

    .wrapper-header .col-sm-2.col-sm-2-custom {
        margin-top: 8px
    }

    .icon-search-mobile {
        display: inline-block !important;
        float: left;
        width: 40px;
        height: 36px;
        border: 1px solid #cdcdcd;
        border-radius: 3px;
        text-align: center;
        margin: 0 0 0 12px;
        line-height: 34px
    }
}

.navbar-form .input-group > .form-control {
    width: 195px
}

@media (max-width: 1199px) {
    .navbar-form .input-group > .form-control {
        width: 72px
    }
}

#header-cart .dropdown-menu {
    width: 260px
}

.sidebar-newsletter {
    padding: 15px 0;
    display: none
}

@media (min-width: 992px) {
    .wrapper-assurance .col-sm-2 {
        width: 20%;
        padding: 0
    }

    .wrapper-assurance .col-sm-2:nth-child(3), .wrapper-assurance .col-sm-2:nth-child(4) {
        width: 18%
    }

    .wrapper-assurance .col-sm-2:nth-child(5) {
        width: 17%
    }

    .wrapper-assurance .col-sm-2:nth-child(1) {
        width: 24%
    }

    .wrapper-assurance .col-sm-2:nth-child(2) {
        width: 23%;
        padding-right: 10px
    }
}

.navbar-brand {
    padding: 15px 0
}

.wrapper-navigation .dropdown-menu > li > a {
    text-transform: capitalize;
    color: #000
}

.wrapper-navigation .dropdown-menu > li > a:hover {
    background-color: transparent
}

.btn-primary:hover {
    background-color: #35b111;
    border-color: #35b111
}

.n_quickview .thumbnail-assurance > .image {
    float: none
}

#n_product.n_quickview .thumbnail-assurance {
    text-align: center
}

#n_product.n_quickview .thumbnail-assurance .caption-assurance > p, #n_product.n_quickview .thumbnail-assurance .headline > a {
    padding-left: 0
}

.wrapper-assurance {
    padding: 15px 5px;
    background-color: #fff;
    margin-bottom: 15px;
    width: calc(100% - 330px);
    float: right
}

.wrapper-assurance .thumbnail-assurance .headline > a {
    margin: 0 3px;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    display: block;
    white-space: nowrap
}

.wrapper-assurance .thumbnail-assurance .caption-assurance > p {
    margin: 0;
    font-size: 10px;
    color: #000;
    text-align: left
}

.slideshowhomepage {
    height: 300px;
    margin-bottom: 0;
    display: table;
    background-color: #fff;
    margin-top: 0
}

.promotioncatepage {
    margin-top: 0;
    border-top: solid 0 #d0d0d0;
    padding-bottom: 0;
    position: absolute;
    right: -200px
}

.promotioncatepage .wrapper-assurance {
    padding: 0;
    background-color: #f5f5f5;
    margin-bottom: 0;
    border: solid 1px;
    border-radius: 5px;
    justify-content: center;
    border: none;
    display: inline-block;
    width: 190px
}

.catepage-rightslidebar {
    display: block;
    position: static;
    width: 190px
}

.catepage-rightslidebar .list-social.list-inline > li {
    transform: scale(.8);
    margin: 0 -10px -10px;
    float: left
}

.catepage-rightslidebar .secure {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px
}

.catepage-rightslidebar .payment-icon-container {
    border: 1px solid #dcd9d9
}

.promotioncatepage .wrapper-assurance .row {
    padding: 0
}

.promotioncatepage .wrapper-assurance .col-sm-2 {
    width: 100%;
    margin-bottom: 10px
}

.promotioncatepage .thumbnail-assurance > .image {
    width: 40px;
    float: left;
    margin-right: 5px
}

.promotioncatepage .wrapper-assurance .thumbnail-assurance .headline > a {
    margin: 0 3px;
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    display: block
}

.promotioncatepage .wrapper-assurance .thumbnail-assurance .caption-assurance > p {
    margin: 0;
    font-size: 10px;
    color: #000;
    text-indent: 3px
}

.broadcrumcat {
    margin-top: 25px;
    border-top: solid 0 #d0d0d0;
    padding-bottom: 52%
}

.gallerycategpage {
    text-align: right;
    position: absolute;
    top: -40px;
    right: 20px
}

.gallerycategpage #viewgallery {
    margin-left: 10px
}

.gallerycategpage #viewgallery2 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.gallerycategpage .viewas {
    display: inline-block
}

.gallerycategpage .viewby > a {
    color: #fff
}

.gallerycategpage .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
    width: 50%;
    margin-top: 0
}

.gallerycategpage .viewby > a {
    color: #505050;
    background: #fff;
    border-color: #000
}

.btn-group > .dropdown-toggle:not(:first-child), .gallerycategpage .btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    float: left;
    width: 50%;
    margin-top: 0
}

.gallerycategpage .viewby > a:hover, .viewby > a.active, .viewby > a:focus {
    color: #fff;
    background: #505050;
    border-color: #505050
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    float: left;
    width: auto
}

.bordercattop {
    padding: 10px 3px 15px;
    border: none;
    margin-bottom: -11px;
    position: relative
}

.bordercattop .btn-text {
    padding: 6px 0
}

.fa-youtube:before {
    content: "\f166";
    color: #cc181e
}

.fa-instagram:before {
    content: "\f16d";
    color: #3f729b
}

.fa-linkedin:before {
    content: "\f08c";
    color: #0077b5
}

.fa-youtube:before {
    content: "\f166";
    color: #cc181e
}

.fa-instagram:before {
    content: "\f16d";
    color: #3f729b
}

.fa-linkedin:before {
    content: "\f08c";
    color: #0077b5
}

.fa-facebook:before {
    content: "\f08c";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-google-plus:before {
    content: "\f0d5";
}

.footerinfo .fa {
    color: #35b111;
    margin-right: 5px
}

@media (min-width: 992px) {
    .wrapper-assurance .thumbnail-assurance .caption-assurance > p {
        font-size: 11px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper-assurance .col-sm-2 {
        width: 20%;
        padding: 0
    }

    .wrapper-assurance .col-sm-2:nth-child(3), .wrapper-assurance .col-sm-2:nth-child(4) {
        width: 18%
    }

    .wrapper-assurance .col-sm-2:nth-child(5) {
        width: 17%
    }

    .wrapper-assurance .col-sm-2:nth-child(1) {
        width: 23%
    }

    .wrapper-assurance .col-sm-2:nth-child(2) {
        width: 22%;
        padding-right: 4px
    }

    .wrapper-assurance .thumbnail-assurance .headline > a {
        font-size: 10px;
        font-weight: 700
    }

    .wrapper-assurance .thumbnail-assurance .caption-assurance > p {
        font-size: 9px
    }
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0
    }
}

.mainhomepage .viewmore {
    margin-right: 0;
    width: 100%;
    text-align: right
}

#recent_sales_content table tr td {
    border: 0 !important
}

#recent_sales_content tr:nth-of-type(2n+1) {
    background: #fff !important
}

.featuredproducthere .col-lg-3:hover, .tableproducts .col-lg-3:hover, .tablesleproducts .col-lg-3:hover {
    box-shadow: 0 5px 10px #888
}

.slideshowhomepage .carousel-control.left {
    margin-left: 0
}

.fancybox-lock .fancybox-overlay {
    z-index: 10002
}

@media (min-width: 1200px) {
    .fancybox-margin {
        margin-right: 17px !important
    }
}

@media (max-width: 639px) {
    .fancybox-nav span {
        visibility: visible
    }
}

#n_customer h1.page-header {
    margin-top: 20px;
    margin-bottom: 10px
}

.cart-upsell-content .thumbnail {
    padding: 15px 10px;
    height: auto;
    display: inline-block;
    border: 1px solid #eaeaea;
    border-radius: 5px
}

.cart-upsell-content .thumbnail:hover {
    box-shadow: 0 5px 10px #888
}

.cart-upsell-content .thumbnail .form-inline.buying-options {
    width: 100%;
    margin-top: 0
}

.cart-upsell-content .thumbnail .input-tiny {
    float: left;
    width: 80px;
    height: 34px
}

.cart-upsell-content .thumbnail .buying-options .btn {
    float: right
}

@media (max-width: 767px) {
    .cart-upsell-content .btn-success {
        margin-bottom: 20px
    }

    #recent_sales_content, .zopim {
        display: none !important
    }

    #main-content, #main-content + .container {
        padding-left: 0;
        padding-right: 0
    }

    .main-footer .row {
        margin: 0
    }

    #recent_sales_ticker {
        display: none
    }

    .customsearchbar {
        display: none
    }

    .col-xs-12, .container {
        padding: 0
    }

    .wrap-cart-page > .col-xs-12 {
        padding: 0 10px
    }

    .row {
        margin: 0
    }

    #menu-mobile .navbar-nav > li {
        display: inline-block;
        position: relative
    }

    #menu-mobile .navbar-nav > li:before {
        display: inline-block;
        width: 100%;
        height: 48px;
        content: "";
        position: absolute;
        z-index: 10;
        background: 0 0;
        cursor: pointer
    }

    #menu-mobile .navbar-nav > li.active:before {
        display: none
    }

    .after-div-lv2 {
        display: none
    }

    .navbar-nav > li > .dropdown-menu {
        display: none;
        position: static;
        top: 0;
        padding: 10px 10px 10px 45px;
        border: 0;
        box-shadow: none
    }

    .second-category {
        width: 100%
    }

    .navbar-nav > li > .dropdown-menu > li.second-category > a {
        font-weight: 400 !important;
        text-transform: capitalize;
        font-size: 13px
    }

    .navbar-nav > li > .dropdown-menu > li.second-category > ul.sub-category > li > a {
        font-size: 12px
    }
}

#n_product .fancybox-next span, #n_product .fancybox-prev span {
    visibility: visible !important
}

.before-images-detail-product.mb {
    display: none
}

@media (max-width: 767px) {
    .before-images-detail-product.mb {
        display: inline-block;
        width: 100%
    }
}

img.lazy {
    width: 100%;
    min-height: 50px;
    display: block;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%
}
.carousel-inner>.item{
    height: 400px;
}
._itmspec_optpl select{
    text-transform: capitalize;
}
.fadeOutLeftd{
    display: none;
}
